@font-face{font-family:'Roboto';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:'Roboto';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:'Roboto';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');unicode-range:U+1F00-1FFF}@font-face{font-family:'Roboto';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');unicode-range:U+0370-03FF}@font-face{font-family:'Roboto';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB}@font-face{font-family:'Roboto';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Roboto';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');unicode-range:U+1F00-1FFF}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');unicode-range:U+0370-03FF}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');unicode-range:U+1F00-1FFF}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');unicode-range:U+0370-03FF}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}

@font-face{font-family:'Roboto Condensed';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCkYb8td.woff2) format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:'Roboto Condensed';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCAYb8td.woff2) format('woff2');unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:'Roboto Condensed';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCgYb8td.woff2) format('woff2');unicode-range:U+1F00-1FFF}@font-face{font-family:'Roboto Condensed';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCcYb8td.woff2) format('woff2');unicode-range:U+0370-03FF}@font-face{font-family:'Roboto Condensed';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCsYb8td.woff2) format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB}@font-face{font-family:'Roboto Condensed';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCoYb8td.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Roboto Condensed';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCQYbw.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}


/* -------------------- APPCSS -------------------- */
* {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
}
button, hr, img {
    border: none;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    max-width: 100%;
    vertical-align: top;
}
li {
    list-style-position: inside;
}
em {
    font-style: italic;
}
select {
    outline: 0;
    padding: 1px 4px;
}
button {
    background: 0 0;
    border-radius: 0;
    color: inherit;
    font: inherit;
    text-align: inherit;
    outline: 0;
    background-color: transparent;
    color: inherit;
    user-select: none;
}
button, a, select, input[type=radio], input[type=checkbox] {
    cursor: pointer;
}
body {
    color: inherit;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
}
b, strong, .text-bold {
    font-weight: 500;
}
a, a:visited {
    color: inherit;
    text-decoration: inherit;
}
body, textarea, button, input {
    font-family: inherit;
}
textarea, input {
    border: 1px solid #ccc;
    font-size: inherit;
}
.bull-divider {
    margin: 0 0.3rem;
}
.display-none {
    display: none;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.center {
    align-items: center;
    justify-content: center;
}
.align-start {
    align-items: flex-start;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.wrap {
    flex-wrap: wrap;
}
.grow-1 {
    flex-grow: 1;
}
.shrink-0 {
    flex-shrink: 0;
}
.spacing-small > *:not(:last-child) {
    margin-right: 0.3rem;
}
.spacing-medium > *:not(:last-child) {
    margin-right: 0.5rem;
}
.spacing-extra > *:not(:last-child) {
    margin-right: 0.6rem;
}
.spacing-large > *:not(:last-child) {
    margin-right: 1rem;
}
.relative {
    position: relative;
}
.text-holder {
    color: #7e8288;
}
.select-none {
    user-select: none;
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* -------------------- MAIN -------------------- */
html {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
body {
    color: #fff;
    background-color: #0f171e;
}
select {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
}
textarea, input {
    background: #fff;
    border-color: #fff;
    border-radius: 3px;
    padding: 0 3px;
}
input, button, textarea, select, svg {
    display: block;
}
.speed-number {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}
.svg-icon {
    width: 13px;
    height: 13px;
    overflow: visible;
}
.svg-icon path {
    fill: currentColor;
}
.toggle-switch {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.toggle-switch_checkbox {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
}
.toggle-switch_slider {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 1.8rem;
    height: 1rem;
    background: transparent;
    box-shadow: 0 0 0px 1px #f1f1f1;
    border-radius: 20px;
    transition: background .2s ease;
}
.toggle-switch_slider:before {
    content: "";
    display: block;
    height: 0.6rem;
    width: 0.6rem;
    background-color: #fff;
    border-radius: 50%;
    transform: translateX(0.2rem);
    transition: transform .2s ease;
}
.toggle-switch_checkbox:checked + .toggle-switch_slider {
    background: #2196f3;
}
.toggle-switch_checkbox:checked + .toggle-switch_slider:before {
    transform: translateX(170%);
}
.toggle-switch_text {
    margin-left: 0.533rem;
}
.loader:before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    border: 3px solid;
    border-top-color: rgba(255, 255, 255, 0.2);
    border-left-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.7);
    border-right-color: rgba(255, 255, 255, 0.7);
    border-radius: 100%;
    animation: rotate 1s linear infinite;
}
.container {
    max-width: 868px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
}
.desktop .hover-underline:hover {
    text-decoration: underline;
}
.menu {
    position: absolute;
    z-index: 90;
}
.menu_inner {
    position: relative;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.3), 0 2px 6px 2px rgb(0 0 0 / 0.15);
    border: 2px solid #2e4253;
    background: #0f171e;
    border-radius: 5px;
    z-index: 101;
}
.menu_colum:first-child {
    padding-right: 0.666rem;
}
.menu_item {
    padding: 0.533rem 0.666rem;
}
.menu_item span {
    padding-right: 8px;
    white-space: nowrap;
}
.menu_overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 125vw;
    height: 125vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

















.main-header_container {
    height: 4.66rem; /* 70px */
}
.main-header_logo {
    color: #f9f9f9;
    user-select: none;
}
.main-header_icon {
    padding: 0.466rem;
    margin-left: -0.466rem;
}
.main-header_icon svg {
    width: 1.333rem;
    height: 1.333rem;
}
.main-header_text {
    font-size: 1.4rem;
    font-weight: 500;
}
.main-header_divider {
    margin: 0 .6rem;
}
.main-header_button {
    padding: 0.3rem 0.5rem;
    border: 2px solid #00f4f5;
    border-radius: 5px;
    font-weight: 500;
}
body:not(.view-test) .test-option {
    display: none;
}
.test-option_toggle-button {
    padding: 0.466rem 0.333rem;
    user-select: none;
}
.test-settings {
    margin-left: 0.3rem;
}
.test-settings_button {
    color: #c2c9cf;
    padding: 0.4rem;
}
.desktop .test-settings_button:hover {
    color: #fff;
}
.test-settings_button svg {
    width: 1.3rem;
    height: 1.3rem;
}
.test-settings_menu {
    top: 100%;
    right: 0;
}
.test-settings_list {
    padding: 0 0.666rem;
}
.test-settings_list .list-item {
    display: flex;
    min-height: 2.5rem;
    align-items: center;
}
.test-settings_menu input[type=number] {
    min-width: 3.66rem;
    background: transparent;
    color: #fff;
    border: none;
    outline: 0;
    border-bottom: 2px solid #fff;
    max-width: 60px;
    padding: 0 2px;
}
.test-settings_menu select {
    min-width: 50px;
    max-width: 180px;
}
.store-data_button {
    padding: 0.3rem 0.5rem;
    border: 2px solid #2e4253;
    border-radius: 4px;
}
.store-data .store-data_button {
    background: #192732;
}
body:not(.view-network) .store-data_button,
body:not(.store-data) .store-data_button svg {
    display: none;
}



.main-content {
    padding-bottom: 2.8rem;
}
.test-main {
    transition: opacity .3s ease;
}
.engine-button {
    position: absolute;
    width: 13.33rem;
    height: 13.33rem;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    border-radius: 50%;
    border: 0;
}
.desktop .engine-button:hover {
    background: #141e2f;
}
.engine-button_border, .engine-button_animated-border {
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 50%;
    border: 3px solid aqua;
    pointer-events: none;
}
.engine-button_text {
    font-size: 1.86rem;
    font-weight: 500;
    white-space: nowrap;
}
.engine-button_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #232f4e;
    opacity: 0;
}
.view-test .engine-button_border {
    animation: button-heartbeat 3.5s ease-out .6s infinite;
}
.view-test .engine-button_animated-border {
    opacity: 0;
    animation: button-ring 3.5s linear .6s infinite;
}

.engine-button_again {
    width: 8rem;
    height: 8rem;
    top: 50%;
    transform: translate(-50%, -50%);
}
.engine-button_again .engine-button_border {
    border-width: 2px;
    animation: none;
}
.is-local .engine-button_border,
.is-local .engine-button_animated-border {
    animation: none;
}

@keyframes button-heartbeat {
    0% {
        transform: scale(1);
    }
    8.333% {
        transform: scale(.980);
    }
    16.666% {
        transform: scale(1);
    }
}
@keyframes button-ring {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    12.5% {
        opacity: 0;
        transform: scale(.995);
    }
    16.667% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: scale(1.3);
    }
}


.test-engine, .network-engine {
    width: 20em;
    height: 20em;
    margin: 2rem auto 2px auto;
}
.gauge, .gauge_icon, .gauge_inner, .gauge_increments {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.gauge {
    cursor: default;
    overflow: hidden;
}
.gauge_icon svg {
    width: 100%;
    height: 100%;
    transform: rotate(139deg);
}
.gauge_circle {
    fill: transparent;
    stroke: #232f4e;
    stroke-width: 8px;
}
.gauge_background {
    fill: #232f4e;
    stroke: none;
    stroke-width: 0;
}
.gauge_loading-background {
    fill: #0f171e;
    stroke: none;
    stroke-width: 0;
}
.gauge_stroke-left {
    stroke-dasharray: 146px;
}
.gauge_stroke-right {
    stroke-dashoffset: 0;
    stroke-dasharray: 210px;
}
.gauge_stroke-speed {
    stroke: aqua;
    stroke-dasharray: 289px;
}
.gauge_upload .gauge_stroke-speed {
    stroke: #bf71ff;
}
.gauge_increments {
    user-select: none;
}
.gauge_increment {
    position: absolute;
    width: 34px;
    height: 20px;
    font-size: 1.125em;
    font-size: 1.2em;
    font-weight: 500;
    opacity: .5;
    text-align: left;
    transition: opacity .2s linear;
}
.increment--0 {
    top: 70%;
    left: 20%;
}
.increment--1 {
    top: 51.5%;
    left: 12%;
}
.increment--2 {
    top: 31%;
    left: 15%;
}
.increment--3 {
    top: 17%;
    left: 27%;
}
.increment--4 {
    top: 10.5%;
    left: 46.5%;
}
.increment--5 {
    top: 17%;
    right: 27.5%;
    text-align: right;
}
.increment--6 {
    top: 31%;
    right: 15%;
    text-align: right;
}
.increment--7 {
    top: 51.5%;
    right: 12%;
    text-align: right;
}
.increment--8 {
    top: 70%;
    right: 20%;
    text-align: right;
}
.on--0 .increment--0, .on--1 .increment--1, .on--2 .increment--2, .on--3 .increment--3, .on--4 .increment--4, .on--5 .increment--5, .on--6 .increment--6, .on--7 .increment--7, .on--8 .increment--8 {
    opacity: .9;
}
.gauge_needle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 12em;
    margin-left: -1em;
    margin-top: -6em;
    transform: rotate(49deg);
    color: #fff;
    z-index: 1;
}
.gauge_needle, .gauge_stroke-speed {
    transition: transform 350ms ease-out, stroke-dashoffset 350ms ease-out;
}
.gauge_needle svg {
    width: 100%;
    height: 100%;
}
.gauge_needle path {
    fill: url(#needleGradient);
}
.gauge_state {
    position: absolute;
    bottom: 1.5em;
    width: 100%;
    text-align: center;
}
.gauge_speed-number {
    font-size: 2.35em;
}
.gauge_speed-unit {
    font-size: 1rem;
}
.gauge_speed-unit svg {
    margin-right: 0.4rem;
    transition: transform .2s;
}
.gauge_download .gauge_speed-unit svg {
    transform: rotate(180deg);
}



.test-engine_open .engine-button_border,
.test-engine_open .engine-button_animated-border {
    animation: none;
}
.test-engine_open .engine-button_background {
    animation: fade-in .3s linear forwards;
}
.test-engine_open .engine-button {
    animation: open-button .3s ease-out .2s forwards;
}
.test-engine_open .gauge_loading-background {
    animation: open-loading-background .2s ease-out .1s backwards;
}
.test-engine_open .gauge_stroke-left {
    animation: open-circle-left .15s ease-out .3s backwards;
}
.test-engine_open .gauge_stroke-right {
    animation: open-circle-right .15s ease-out .3s backwards;
}
.test-engine_open .gauge_inner {
    animation: fade-in .3s linear .45s backwards;
}



.test-engine_close .gauge_inner {
    animation: fade-out .2s linear forwards;
}
.test-engine_close .gauge_stroke-left {
    animation: close-circle-left .2s linear .2s forwards;
}
.test-engine_close .gauge_stroke-right {
    animation: close-circle-right .2s linear .2s forwards;
}
.test-engine_close .gauge_loading-background {
    animation: close-loading-background .2s linear .4s forwards;
}
.test-engine_close .engine-button {
    animation: close-button .3s ease-out backwards;
    pointer-events: none;
}
.test-engine_close .engine-button_background {
    animation: fade-out .3s linear backwards;
}

@keyframes open-loading-background {
    0% {
        r: 0;
    }
    100% {
        r: 42.8;
    }
}
@keyframes open-circle-left {
    0% {
        stroke-dasharray: 124px;
    }
    100% {
        stroke-dasharray: 146px;
    }
}
@keyframes open-circle-right {
    0% {
        stroke-dasharray: 251px;
    }
    100% {
        stroke-dasharray: 210px;
    }
}
@keyframes close-circle-left {
    0% {
        stroke-dasharray: 146px;
    }
    100% {
        stroke-dasharray: 124px;
    }
}
@keyframes close-circle-right {
    0% {
        stroke-dasharray: 210px;
    }
    100% {
        stroke-dasharray: 251px;
    }
}
@keyframes close-loading-background {
    0% {
        r: 42.8;
    }
    100% {
        r: 0;
    }
}


@keyframes open-button {
    50% {
        top: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
    }
}
@keyframes close-button {
    0% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 8rem;
        height: 8rem;
    }
}
/*
 |
 |
 |
 */
.unseen {
    opacity: 0;
    pointer-events: none;
}
.test-results {
    max-width: 540px;
    margin: 0 auto;
    position: relative;
    opacity: 0;
    pointer-events: none;
}
.test--opened .test-results {
    pointer-events: all;
    animation: fade-in .25s linear .3s forwards;
}
.test-results_close-button {
    position: absolute;
    top: 0;
    left: 0;
}
.test-results_close-button svg {
    width: 1rem;
    height: 1rem;
    color: #fff;
    opacity: .95;
    filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, .95));
    user-select: none;
}
.test-results_item {
    position: relative;
    width: 50%;
    padding: 0.666rem;
    padding-bottom: 2.9rem;
}
.test-results_item:first-child {
    margin-right: 0.8rem;
}
.test-results_item:last-child {
    margin-left: 0.8rem;
}
.test-results_item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#16212b 20%, transparent 80%);
    border-radius: 6px;
    z-index: -1;
    opacity: 0;
    transition: opacity .3s linear;
}
.test-results_download .test-results_header svg, .gauge_download .gauge_speed-unit svg {
    color: #6afff3;
}
.test-results_upload .test-results_header svg, .gauge_upload .gauge_speed-unit svg {
    color: #bf71ff;
}
.test-results_speed  {
    font-size: 2.35rem;
}
.test-results_graph {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.8rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
}
.test-results_graph .graph {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: visible;
}
.test-results_graph .chart {
    fill: aqua;
}
.test-results_upload .test-results_graph .chart {
    fill: #bf71ff;
}
.test-results_graph .line {
    fill: none;
    stroke: rgba(148, 175, 200, 0.5);
    stroke-width: 1px;
}
.test--download .test-results_download:before, .test--upload .test-results_upload:before {
    opacity: 1;
}

.log {
    position: absolute;
    width: 0;
    height: 0;
    font-size: 30px;
    overflow: hidden;
}
.test-console {
    margin-bottom: 1rem;
}
.console-button {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    border: 0;
    background: transparent;
}
.console {
    width: 100%;
    background: #000;
    color: #fff;
    min-height: 19.66rem; /* 297px */
    min-height: 18.1rem;
    resize: vertical;
    overflow-y: scroll;
    padding: 3px 8px;
    font-size: 13.333px;
    line-height: 1.6rem;
    outline: 0;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    cursor: default;
}

.test-footer {
    margin: 0 auto;
    max-width: 600px;
}
.test-footer_icon {
    flex-shrink: 0;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid #7e8288;
}
.test-footer_icon svg {
    width: 15px;
    height: 15px;
    color: #7e8288;
}
.test-footer_content {
    margin-left: 8px;
    min-height: 3.6rem;
}
.test-footer_title {
    word-break: break-word;
    white-space: pre-line;
}
.test-footer_description {
    margin-top: 0.4rem;
}
.test-footer_skeleton-text {
    display: inline-block;
    position: relative;
    color: transparent;
    width: 8rem;
}
.test-footer_skeleton-text:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.3rem;
    width: 100%;
    height: 0.6rem;
    background: #363a46;
    color: transparent;
    border-radius: 4px;
}
.test-footer_skeleton-text:after {
    content: "-";
}
.test-footer_description .test-footer_skeleton-text {
    width: 5rem;
}
.test-footer_description .test-footer_skeleton-text:before {
    opacity: 0.5;
}
.test-select-server {
    padding: 0.4rem 0;
    margin-bottom: -0.4rem;
    color: #1cbfff;
}
.stage-test.test--started .test-select-server {
    opacity: 0.5;
    pointer-events: none;
}
.test-servers_menu {
    left: 0;
    bottom: 100%;
}
.test-footer_title,
.test-footer_description,
.test-select-server {
    font-size: 1.1rem;
}


body:not(.view-network) .stage-network,
body:not(.view-test) .stage-test,
body:not(.view-ping) .stage-ping {
    height: 0;
    overflow: hidden;
}
.stage-options_section:first-child {
    align-self: flex-start;
}
body:not(.ready) .stage-options_section:not(:first-child) {
    opacity: 0;
    pointer-events: none;
}
.start-button {
    flex-shrink: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.46rem;
    width: 6.6rem;
    height: 6.6rem;
    border-radius: 50%;
    border: 3px solid aqua;
}
.stage-ping .stage-options.disabled .start-button, .stage-ping .stage-options.disabled .ping_server-button {
    border-color: #5db4b9;
}
body:not(.ready) .stage-loader {
    pointer-events: none;
    border-color: transparent;
}
.desktop .start-button:hover,
.desktop .main-header_button:hover,
.desktop .ping_server-button:hover {
    background: #14202b;
}
.stage-options_margin {
    margin-left: 1.33rem;
}
.stage-options_notice {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    white-space: nowrap;
}
.stage-options_notice, .stage-options_name {
    font-size: 1.1rem;
}
.ping-options {
    margin-top: 1rem;
}
.ping_server-button {
    border: 1px solid aqua;
    padding: 5px 10px;
    border-radius: 5px;
}
.ping_servers-menu {
    left: 0;
    margin-top: -2px;
}
.ping-settings_menu-button {
    padding: 0.4rem 0.66rem;
    color: #c2c9cf;
}
.desktop .ping-settings_menu-button:hover {
    color: #fff;
}
.ping-settings_menu-button svg {
    width: 1.3rem;
    height: 1.3rem;
}
.ping-settings_menu {
    right: 5px;
    top: 100%;
    margin-top: 0.66rem;
}
.ping-settings_url {
    margin-top: 5px;
}
.ping-settings_input {
    padding: 4px 5px;
    border: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.ping-settings_clear-button {
    padding: 0 0.4rem;
    background: #fff;
    color: #2a2e43;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.ping-settings_clear-button svg {
    width: 11px;
    height: 11px;
}
.ping-results {
    margin-top: 20px;
}
.ping-result {
    padding-top: 10px;
    padding-bottom: 30px;
    border-top: 1px dotted #51626a;
}
.ping-result.close {
    pointer-events: none;
    animation: fade-out .3s linear forwards;
}
.ping-result_meta {
    padding: 0 2rem;
    text-align: center;
}
.ping-result_close-button {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.175rem;
    opacity: 0.7;
}
.desktop .ping-result_close-button:hover {
    opacity: 1;
}
.ping-result_close-button svg {
    width: .86rem;
    height: .86rem;
}
.ping-result_server-meta {
    font-weight: 500;
    margin-bottom: 5px;
    word-break: break-word;
}
.ping-result_protocol {
    display: inline-block;
    margin-right: 0.3rem;
    background: #1a2834;
    padding: 0.2rem 0.3rem;
    font-size: 0.8em;
    border-radius: 3px;
}

.ping-result_time {
    padding: 4px 0;
}
.ping-graph {
    padding: 8px 8px 0 8px;
    border: 2px solid #1c6a92;
    border-radius: 8px;
    background: #111e25;
    user-select: none;
}
.ping-graph_inner, .ping-graph_items {
    height: 9rem;
}
.ping-graph_items div {
    display: flex;
    justify-content: center;
    position: relative;
    width: 1%;
    padding-bottom: 14px;
}
.ping-graph_items div:before {
    content: "";
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}
.ping-graph_items div[a]:before {
    background: rgba(255, 255, 255, 0.2);
}
.ping-graph_items div:hover:before {
    width: 3px;
    background: rgba(0, 0, 0, 1);
}
.ping-graph_items div[a]:after {
    content: attr(index);
    position: absolute;
    left: 50%;
    bottom: 1px;
    transform: translateX(-50%);
    font-size: 9px;
    font-weight: 500;
    pointer-events: none;
}
.ping-graph_tooltip {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 7px 12px;
    border: 2px solid #1c6a92;
    border-radius: 8px;
    background: #111e25;
    width: fit-content;
    pointer-events: none;
    z-index: 10;
}
.ping-graph_tooltip-index {
    color: #a4a4a4;
    font-size: 0.9rem;
    margin-bottom: 5px;
}
.ping-graph_line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: visible;
}
.ping-graph_line polyline {
    fill: transparent;
    stroke: #d00000;
    stroke-width: 2px;
}

/*
 |
 |
 |
 */


.stage-network.started .start-button {
    border-color: #ff3535;
}
.desktop .stage-network.started .start-button:hover {
    background: #ff000012;
}
body.ready .stage-loader:before,
body.ready .stage-options_notice,
body:not(.ready) .stage-loader svg,
body:not(.ready) .stage-loader span,
body:not(.ready) .test-select-server,
.stage-network.started .start-button span:first-child,
.stage-network:not(.started) .start-button span:last-child {
    display: none;
}
.stage-network.started .network-settings_type {
    pointer-events: none;
    opacity: 0.3;
}
.network-settings_group {
    width: 100%;
}
.network-settings_group:not(:first-child) {
    flex-wrap: wrap;
}
.network-settings_group:not(:first-child) .network-settings_item {
    margin-top: 0.8rem;
}
.network-settings_item:not(:last-child) {
    margin-right: 1rem;
}
.network-settings_servers-button {
    width: 100%;
    padding: 0.3rem 0.5rem;
    border: 2px solid #2e4253;
    border-radius: 5px;
    white-space: nowrap;
}
.network-settings_servers-button svg {
    margin-left: 6px;
}
.network-settings_menu {
    left: 0;
    top: 100%;
    margin-top: -2px;
    min-width: 20rem;
}
.servers-select_list {
    height: 400px;
    max-height: 60vh;
    overflow-y: scroll;
}
.servers-select_item {
    cursor: pointer;
}
.desktop .servers-select_item:hover {
    background: #1c2834;
}
.servers-select_item:not(.custom) .servers-select_single-button {
    flex-grow: 1;
    overflow: hidden;
}
.servers-select.single .servers-select_single-button {
    padding-right: 1.32rem;
}
.servers-select_check-icon,
.servers-select_multi-button {
    padding: 0 0.66rem;
}
.servers-select_item:not(.selected) .servers-select_check-icon {
    opacity: 0;
}
.servers-select_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 0;
}
.servers-select_input {
    background: transparent;
    width: 100%;
    color: #fff;
    border: 0;
    margin-top: 2px;
    padding: 8px 0;
}
.servers-select_input::placeholder {
    color: #a2a2a2;
}
.servers-select_clear {
    color: #fff;
    padding: 0 5px;
}
.servers-select_clear svg {
    width: 11px;
    height: 11px;
}
.servers-select_multi-button svg {
    width: 1.2rem;
    height: 1.2rem;
}
.servers-select_item:not(.selected) .servers-select_multi-button path:last-child {
    opacity: 0;
}

.network-settings_meta {
    color: #7e8288;
}
.network-settings_meta svg {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    flex-shrink: 0;
}

.network-section {
    margin-top: 0.66rem;
}
.network-measures_menu {
    top: 100%;
    left: 0;
}
.network-measures_requests {
    padding: 0.666rem;
}
.network-measures_requests {
    line-height: 2.3;
}
.network-measures_requests-urls {
    width: 320px;
    max-width: calc(100vw - 140px);
}
.network-measures_text-url {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.network-measures_requests-loaded {
    flex-shrink: 0;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    font-size: inherit;
    color: #fff;
    line-height: inherit;
    cursor: default;
    width: 7em;
    text-align: right;
}
.network-measures_item {
    color: #8d8f94;
    font-weight: 500;
    padding: 0.4rem 0;
}
.network-measures_item:not(:last-child) {
    margin-right: 1rem;
}
.network-engine {
    font-size: 0.85rem;
    margin: 1rem auto 0 auto;
    position: relative;
}


body:not(.view-network) .stage-network .stage-loader:before,
body:not(.view-test) .stage-test .stage-loader:before,
body:not(.view-ping) .stage-ping .stage-loader:before {
    animation: none;
}
.main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #0f171e;
    box-shadow: 0px 6px 5px 5px #06090c;
    z-index: 1;
}
.main-footer_container {
    height: 2rem;
}
.main-footer_item:first-child {
    padding-right: 0.5rem;
}
.load-meta {
    position: relative;
    font-size: 0.8em;
    border-radius: 3px;
}
.load-meta.download, .load-meta.upload {
    padding: 0.2rem 0.3rem;
    padding-bottom: 0.26rem;
    background: #1a2834;
}
.load-meta.download:before, .load-meta.upload:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -1.5px;
    bottom: 1px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
}
.load-meta.download:before {
    background: #6afff3;
}
.load-meta.upload:after {
    background: #bf71ff;
}
.load-meta.download.upload:before {
    transform: translateX(-4px);
}
.load-meta.download.upload:after {
    transform: translateX(4px);
}
.refresh-data {
    position: absolute;
    right: 0.8rem;
    bottom: 100%;
    padding: 6px 8px;
    background: #0f171e;
    border: 2px solid #2e4253;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0;
}
.refresh-data.active {
    cursor: default;
    color: rgba(255, 255, 255, 0.5);
}
body:not(.ready) .refresh-data {
    display: none;
}




@media screen and (min-width: 890px){
    .network-section {
        display: flex;
        align-items: center;
    }
    .network-engine {
        font-size: 0.8rem;
        margin: 3.5rem 0 0 1rem;
    }
}



@media screen and (min-width: 750px){
    .ping-result {
        display: flex;
        align-items: flex-start;
    }
    .ping-result_meta {
        width: 25%;
    }
}
@media screen and (max-width: 749px){
    .console {
        font-size: 1.8vw;
    }
    .ping-result_meta {
        margin-bottom: 12px;
    }
    .ping-result_time {
        display: inline-block;
        padding: 4px 6px;
        font-size: 10px;
    }
    .ping-graph_items div[a]:after {
        font-size: 6px;
    }
    .ping-graph_items div {
        padding-bottom: 9px;
    }
}




@media screen and (max-width: 650px){
    html {
        font-size: 13px;
    }
    .network-measures_heading {
        font-size: 0.9rem;
    }
}




@media screen and (min-width: 600px){
    .test-results {
        padding-left: 1.6rem;
    }
    .test-results_close-button {
        margin-top: 0.666rem;
    }
    .test-results_group:first-child {
        padding: 0.666rem;
        padding-right: 1.466rem;
        flex-direction: column;
    }
    .test-results_ping {
        flex-direction: column;
        align-items: flex-end;
    }
    .test-results_ping .test-results_heading {
        margin-right: 0;
    }
    .test-results_heading {
        margin-bottom: 3px;
    }
    
    
    .test-footer {
        display: flex;
        flex-direction: row-reverse;
    }
    .test-footer_item {
        width: 50%;
    }
    .test-footer_item:first-child {
        margin-left: 0.6rem;
    }
    .test-footer_item:last-child {
        margin-right: 0.6rem;
        flex-direction: row-reverse;
        text-align: right;
    }
    .test-footer_item:last-child .test-footer_content {
        margin-left: 0;
        margin-right: 8px;
    }
    .test-servers_menu {
        left: -50%;
    }
}

@media screen and (max-width: 599px){
    .test-footer {
        max-width: 400px;
    }
    .test-footer_item {
        margin-bottom: 0.66rem;
    }
    
    
    .test-results_close-button {
        margin-left: 0.666rem;
    }
    .test-results_data {
        flex-direction: column;
    }
    .test-results_group:first-child {
        margin-bottom: 0.666rem;
    }
    .test-results_ping {
        width: 50%;
        justify-content: center;
    }
    .test-results_ping:first-child {
        border-right: 1px solid #ffffff6e;
    }
    .test-results_ping:last-child {
        border-left: 1px solid #ffffff6e;
    }
}

@media screen and (max-width: 500px){
    .ping-graph {
        padding: 8px 5px 0 5px;
        border-width: 1px 0 1px 0;
        border-radius: 0;
        margin: 0 -1rem;
    }
}

@media screen and (max-width: 400px){
    .main-footer_item:first-child {
        font-size: 0.9em;
    }
}




@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes rotate {
    0% {
        transform: rotateZ(-360deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}